#hero {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/img/1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#togle {
  color: rgb(255,255,255);
  border-color: rgb(255,255,255);
}

.navbar-dark.navbar-toggler-icon {
  background-image: url([svg]);
}

.navbar-dark .navbar-toggler {
  color: rgb(255,255,255);
  border-color: rgb(255,255,255);
}

#btn-logout {
  background-color: #5cb85c;
  border: none;
}

#search {
  background-size: auto;
  background-repeat: no-repeat;
  width: 140px;
}

#search {
  padding-left: 25px;
}

#con_hero {
  width: 700px;
  margin-top: 150px;
}

#search {
  border-radius: 50px;
  border-color: none;
  border-color: white;
}

#chero {
  margin: 0px 26px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 150px;
}

#divc {
  margin-left: 0px;
}

#btns {
  width: 146px;
}

#srow {
  padding: 30px;
  height: 120px;
}
